<div class="c-inf-listagem">
  <div class="c-inf-listagem__title">
    <h1>Sistema Financeiro</h1>
  </div>

  <div class="c-inf-listagem-detalhes">
    <div class="c-inf-listagem-box-1">
      <div class="box">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/img/image 2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="testo">10000</h5>
              <p class=""><small class="text-body-secondary">receita mensal</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-inf-listagem-box-1">
      <div class="box">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/img/image 2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="testo">10000</h5>
              <p class=""><small class="text-body-secondary">receita mensal</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-inf-listagem-box-1">
      <div class="box">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../../assets/img/image 2.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="testo">10000</h5>
              <p class=""><small class="text-body-secondary">receita mensal</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="c-inf-listagem-gravar">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Data</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Titulo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Tipo</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Valor</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="c-inf-listagem-gravar-btn">
    <button type="button" class="btn btn-success">Gravar</button>
  </div>
</div> -->

<!-- Button trigger modal -->
<button type="button" class="c-inf-listagem-gravar btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
 + Nova informação bancaria
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar nova informação bancaria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Data</label>
          <input type="date" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titulo</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tipo</label>
          <select class="form-select" aria-label="Default select example">
            <option value="1">Entrada</option>
            <option value="2">Saida</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Valor</label>
          <input type="number" class="form-control" id="exampleFormControlInput1">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Desistir</button>
        <button type="button" class="btn btn-primary">Gravar</button>
      </div>
    </div>
  </div>
</div>

<div class="accordion c-inf-listagem-filtro" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filtro
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Data</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titulo</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Tipo</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Valor</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="c-inf-listagem-gravar-btn">
          <button type="button" class="btn btn-success">Aplicar filtros</button>
        </div>
      </div>
    </div>
  </div>
</div>

