header {
  background-color: #1E3969;
}

.c-inf-listagem {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.c-inf-listagem__title h1 {
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  font-size: 27px;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.c-inf-listagem-detalhes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #F8F9FA;
  border: 1px solid #d2d1d1;
  height: 100%;
  margin-left: 130px;
  margin-right: 130px;
  border-radius: 8px;
  padding: 25px;
  overflow: hidden;
  margin-bottom: -70px;
}

.c-inf-listagem-box-1 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #7d7d7d;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
}

.c-inf-listagem-gravar {
  height: 26px;
  gap: 10px;
  background-color: #1E3969;
  color: #F8F9FA;
  border: none;
  margin-left: 130px;
  margin-right: 130px;
  overflow: hidden;
  margin-bottom: -70px;
  margin-top: 100px;
  width: 20%;
}

.c-inf-listagem-gravar:focus {
  background-color: #0A1952;
}

.c-inf-listagem-editar {
  background-color: #1E3969;
  border: none;
}

.c-inf-listagem-editar:focus {
  background-color: #0A1952;
}

.c-inf-dessitir-btn {
  background-color: #F8F9FA;
  color: #333333;
  border: #c2bfbf;
}

.c-inf-dessitir-btn:hover {
  background-color: rgba(221, 221, 221, 0.808);
  color: #333;
}

.c-inf-listagem-gravar-btn {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.c-inf-listagem__text-box {
  display: flex;
}

.c-inf-listagem-filtro {
  margin: -20px auto;
  margin-left: 130px;
  margin-right: 130px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 30px;
}

.filtro_form {
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
  width: 75%;
  border: 1px solid #ddd;
  margin-left: 132px;
  margin-right: 200px;
}

.dropdown-menu.show {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-control, .form-select {
  box-shadow: none;
}

.accordion-button {
  background-color: #ffffff;
}

.accordion-button:focus {
  box-shadow: none;
}

.receita-mensal-title {
  color: #0FAD00;
  font-weight: bold;
  font-size: 1.6rem;
  font-weight: 600;
}

.despesa-mensal-title {
  color: #B80E0E;
  font-weight: bold;
  font-size: 1.6rem;
  font-weight: 600;
}

.mensal-title {
  color: #000000;
  font-weight: bold;
  font-size: 1.6rem;
  font-weight: 600;
}

.paginação {
  margin-left: 130px;
  margin-right: 130px;
}

@media only screen and (max-width: 576px) {
  .c-inf-listagem-detalhes {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
  }

  .c-inf-listagem-gravar {
    height: 30px;
    width: 50%;
    margin-top: 30px;
    margin-left: 100px;
  }

  .c-inf-listagem-filtro {
    width: 100%;
    padding: 16px;
    margin-left: 0;
  }

  table {
    width: 90%;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-right: 0 auto;
  }
}
