<div class="c-inf-listagem">
  <header class="header">
    <div class="c-inf-listagem_botao-tema switch__container">
      <input id="switch-shadow" class="switch switch--shadow" type="checkbox" />
      <label for="switch-shadow" (click)="toggleTheme()"></label>
    </div>

    <div class="c-inf-listagem__title">
      <h1>Sistema Financeiro</h1>
    </div>

    <div class="c-inf-listagem-detalhes row">
      <div
        class="c-inf-listagem-box-1 card col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2"
      >
        <div class="d-flex">
          <div>
            <img
              src="../../../../assets/img/image 2.png"
              class="img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="receita-mensal-title card-title">
                R$ {{ "1.000,00" }}
              </h5>
              <p class="card-text">Receita Mensal</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="c-inf-listagem-box-1 card col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2"
      >
        <div class="d-flex">
          <div>
            <img
              src="../../../../assets/img/image 3.png"
              class="img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="despesa-mensal-title card-title">R$ 2.000,00</h5>
              <p class="card-text">Despesa</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="c-inf-listagem-box-1 card col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2"
      >
        <div class="d-flex">
          <div>
            <img
              src="../../../../assets/img/image 4.png"
              class="img"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="mensal-title card-title">R$ 3.000,00</h5>
              <p class="card-text">Total</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="c-inf-pesquisa">
    <dx-button

      icon="plus"
      class="c-inf-listagem-gravar btn btn-primary"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      + Nova informação bancaria
    </dx-button>

    <cadastrar-nova-informacao-bancaria></cadastrar-nova-informacao-bancaria>

    <div class="accordion c-inf-listagem-filtro" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            <h2 class="h4">Filtro</h2>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="filtro_form row">
              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mt-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Data</label
                >
                <input
                  type="email"
                  class="c-inf-input form-control"
                  id="exampleFormControlInput1"
                />
              </div>

              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mt-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Titulo</label
                >
                <input
                  type="email"
                  class="c-inf-input form-control"
                  id="exampleFormControlInput1"
                />
              </div>

              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mt-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Tipo</label
                >
                <input
                  type="email"
                  class="c-inf-input form-control"
                  id="exampleFormControlInput1"
                />
              </div>

              <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mt-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Valor</label
                >
                <input
                  type="email"
                  class="c-inf-input form-control"
                  id="exampleFormControlInput1"
                />
              </div>
            </div>

            <div class="c-inf-listagem-gravar-btn">
              <button
                type="button"
                class="c-inf-listagem-editar btn btn-success"
              >
                Aplicar filtros
              </button>
              <button
                type="button"
                class="c-inf-dessitir-btn btn btn-secondary"
              >
                Desistir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <editar-nova-informacao-bancaria></editar-nova-informacao-bancaria>

    <div>
      <dx-data-grid
        [dataSource]="dataSource"
        keyExpr="Id"
        [width]="'100%'"
        [showBorders]="true"
        [focusedRowEnabled]="true"
        [rowAlternationEnabled]="true"
        [columnHidingEnabled]="true"
        [allowColumnReordering]="true"
        [wordWrapEnabled]="true"
      >
        <dxi-column
          [width]="'auto'"
          [caption]="'Ações'"
          type="buttons"
          cssClass="grid-column-middle"
          alignment="center"
        >
          <dxi-button name="ativar" template="item-ativar">
            <div *dxTemplate="let data of 'item-ativar'">
              <div class="c-inf-listagem__botoes">
                <dx-drop-down-button
                  [text]="'Ações'"
                  [style.background]="'#fff'"
                  [dropDownOptions]="{ width: 'auto' }"
                  dropDownContentTemplate="dropdown-acoes"
                >
                  <div *dxTemplate="let d_acoes of 'dropdown-acoes'">
                    <div
                      class="d-flex flex-column p-2"
                      style="min-width: 100px"
                    >
                      <dx-button
                        class="c-inf-listagem-editar mb-2 btn btn-primary"
                        [text]="'Editar'"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#modalEditar"
                        aria-controls="offcanvasRight"
                      ></dx-button>

                      <dx-button
                        [text]="'Deletar'"
                        class="btn btn-danger"
                      ></dx-button>
                    </div>
                  </div>
                </dx-drop-down-button>
              </div>
            </div>
          </dxi-button>
        </dxi-column>

        <dxi-column
          dataField="Nome"
          [caption]="'Titulo'"
          [width]="'auto'"
          cssClass="grid-column-middle"
          alignment="center"
        ></dxi-column>

        <dxi-column
          dataField="Icone"
          [caption]="'icone'"
          [width]="'auto'"
          cssClass="grid-column-middle"
          alignment="center"
        ></dxi-column>

        <dxi-column
          dataField="Ativo"
          [caption]="'ativo'"
          [width]="'auto'"
          alignment="center"
          cssClass="grid-column-middle"
        ></dxi-column>

        <dxi-column
          dataField="CriadoPor.Data"
          [caption]="'Data Criação'"
          [width]="'auto'"
          cssClass="grid-column-middle"
          alignment="center"
          dataType="datetime"
        ></dxi-column>
        <dxi-column
          dataField="CriadoPor.Nome"
          [caption]="'Criado por'"
          [width]="'auto'"
          cssClass="grid-column-middle"
          alignment="center"
        ></dxi-column>
        <dxi-column
          dataField="CriadoPor.Id"
          [caption]="'Criado por codigo'"
          [width]="'auto'"
          alignment="center"
          cssClass="grid-column-middle"
        ></dxi-column>
      </dx-data-grid>
    </div>
  </div>
</div>
