<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">
      Cadastrar nova informação bancaria
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Titulo
                <em class="c-inf-color-danger">*</em>
              </label>
              <dx-text-box
                [showClearButton]="true"
                [height]="25"
                formControlName="titulo"
                [class.is-invalid]="formService.isInvalid(form, 'titulo')"
              ></dx-text-box>
              <div class="invalid-feedback" *ngIf="form.get('titulo')?.errors">
                <div
                  *ngIf="
                    form.get('titulo')?.hasError('required') &&
                    form.get('titulo')
                  "
                >
                  {{ "Digite um titulo valido!" }}
                </div>
                <div
                  *ngIf="
                    form.get('titulo')?.hasError('maxlength') &&
                    form.get('titulo')
                  "
                >
                  {{
                    "O campo titulo deve ter no maximo " + 60 + " caracteres!"
                  }}
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label
                >Tipo
                <em class="c-inf-color-danger">*</em>
              </label>
              <dx-select-box
                [dataSource]="situacaoDataSource"
                [displayExpr]="'text'"
                [valueExpr]="'value'"
                [height]="26"
                formControlName="tipo"
                [placeholder]="'Selecione um tipo'"
                [class.is-invalid]="formService.isInvalid(form, 'tipo')"
              ></dx-select-box>
              <div class="invalid-feedback" *ngIf="form.get('tipo')?.errors">
                <div
                  *ngIf="
                    form.get('tipo')?.hasError('required') &&
                    form.get('tipo')
                  "
                >
                  {{ "Digite um tipo de entrada!" }}
                </div>
              </div>

            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">
                Valor
                <em class="c-inf-color-danger">*</em>
              </label>
              <dx-text-box
                [showClearButton]="true"
                [height]="25"
                formControlName="valor"
                [class.is-invalid]="formService.isInvalid(form, 'valor')"
              ></dx-text-box>
              <div class="invalid-feedback" *ngIf="form.get('valor')?.errors">
                <div
                  *ngIf="
                    form.get('valor')?.hasError('required') &&
                    form.get('valor')
                  "
                >
                  {{ "Digite um valor valido!" }}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="c-inf-dessitir-btn btn btn-secondary"
              (click)="DesistirCadastrarInformacao()"
            >
              Desistir
            </button>
            <button
              type="button"
              class="c-inf-gravar-btn btn btn-success"
              (click)="CadastrarInformacaoBancaria()"
            >
              Gravar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
