<div class="c-inf-listagem">
  <div class="c-inf-listagem__title">
    <h1>Sistema Financeiro</h1>
  </div>

  <div class="c-inf-listagem-detalhes">
    <div class="c-inf-listagem-box-1">
      <h1></h1>
    </div>
    <div class="c-inf-listagem-box-1">
      <h1></h1>
    </div>
    <div class="c-inf-listagem-box-1">
      <h1></h1>
    </div>
  </div>
</div>
<div class="c-inf-listagem-gravar">
  <div class="c-inf-listagem__text-box">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="c-inf-listagem-filtro"></div>


