@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~ngx-toastr/toastr.css';

:root {
  --font-size-base: 1rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-size-base);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --color-dark: #1f2937;
  --color-gray: #083344;
  --color-light: #F8F9FA;
  --primary-color: #1E3969;
  --text-color: #000000;
  --text-color-gray: #d1d5db;
  --color-border: #d2d1d1;

}

.light-mode {
  background-color: var(--color-light);
  color: var(--text-color);

  .c-inf-listagem-detalhes {
    background-color: var(--color-light);
    border: 1px solid var(--color-border);
  }

  header {
    background-color:  var(--primary-color);
  }




}

.dark-mode {
  background-color: var(--color-dark);
  color: var(--text-color-gray);

  .c-inf-listagem-detalhes {
    background-color: var(--color-dark);
    border: 1px solid var(--color-border);
  }

  .c-inf-listagem-box-1 {
    background-color: var(--color-gray);
    box-shadow: none !important;
  }

  .accordion-item:first-of-type>.accordion-header .accordion-button {
    background-color: var(--color-gray);
    color: var(--text-color-gray);
  }

  .mensal-title {
    color: var(--text-color-gray) !important;
  }

  .card-text {
    color: var(--text-color-gray);
  }

  header {
    background-color: var(--color-gray);
  }





}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: var(--color-background);
}

h1, .h1 { font-size: 3.2rem; }
h2, .h2 { font-size: 2.4rem; }
h3, .h3 { font-size: 1.9rem; }
h4, .h4 { font-size: 1.6rem; }
h5, .h5 { font-size: 1.4rem; }
h6, .h6 { font-size: 1.3rem; }

label,
p {
  font-size: var(--font-size-base);
}

.c-inf-input {
  border-color: #ddd;
}

.c-inf-input:hover {
  border-color: #355FAC66;
}

.c-inf-input:focus {
  border-color: #1E3969;
}

.c-inf-color-danger {
  color: #D9534F;
}
